
    <!---->
    <div class="container">
        <div class="account">
            <h2>Account</h2>
            <div class="account-pass">
                <div class="col-md-7 account-top">
                    <form>

                        <div>
                            <span>Email</span>
                            <input type="text">
                        </div>
                        <div>
                            <span>Password</span>
                            <input type="password">
                        </div>
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div class="col-md-5 left-account ">
                    <a onclick="location.href='@Url.Action("Single","Home")'">
                        <img class="img-responsive" src="~/images/ac.png">
                    </a>
                    <div class="five">
                        <h1>25% </h1><span>discount</span>
                    </div>

                    @Html.ActionLink("Create Account", "Register", null, new { @class = "create" })
                    
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>

    </div>